<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<%- include("navbar.ejs") -%>
<%- include("sidebar.ejs") -%>

<div class="sticky-alerts"></div>

<script>
    const sessionKeys = ["session", "username", "displayname", "userId"];

    document.onerror = (ev, src, a, b, err) => {
        halfmoon.initStickyAlert({
            content: err.message,
            title: err.name,
            alertType: "alert-danger",
            fillType: "filled"
        });
    }

    function toggleDarkMode() {
        halfmoon.toggleDarkMode();

        let id = document.querySelector("#darkmode-toggle");

        if (halfmoon.darkModeOn) {
            document.querySelectorAll(".shadow-lm").forEach(element => {
                element.classList.remove("shadow");
            });
            id.classList.replace("fa-moon", "fa-sun")
        } else {
            document.querySelectorAll(".shadow-lm").forEach(element => {
                element.classList.add("shadow");
            });
            id.classList.replace("fa-sun", "fa-moon")
        }
    }

    function removeURLParameter(url, parameter) {
        var urlparts = url.split('?');
        if (urlparts.length >= 2) {
            var prefix = encodeURIComponent(parameter) + '=';
            var pars = urlparts[1].split(/[&;]/g);

            for (var i = pars.length; i-- > 0;) {
                if (pars[i].lastIndexOf(prefix, 0) !== -1) {
                    pars.splice(i, 1);
                }
            }

            return [true, urlparts[0] + (pars.length > 0 ? '?' + pars.join('&') : '')];
        }

        return [false, url];
    }


    toggleDarkMode()

    const params = new Proxy(new URLSearchParams(window.location.search), {
        get: (searchParams, prop) => searchParams.get(prop),
    });
    console.log(params.handoff);
    if (params.handoff !== null) {
        let user = fetch(`/handoff/${params.handoff}`, { method: "GET" }).then(u => {
            u.json().then(j => {
                const location = removeURLParameter(window.location.href, "handoff");

                if (location[0]) window.location.replace(location[1]);
            });
        });
    }
</script>