<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/css/halfmoon-variables.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/js/halfmoon.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body class="page-wrapper with-sidebar with-navbar">
    <%- include("base.ejs") -%>

    <div class="content-wrapper">
        <div class="container card p-0 w-400">
            <img src="https://cdn.discordapp.com/attachments/602067256079286283/800000101631262730/unknown.png" alt="..." class="img-fluid rounded">
            <h3 class="p-10">you found florp</h3>
        </div>
    </div>
</body>
</html>