<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/css/halfmoon-variables.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/js/halfmoon.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">

    <meta property="og:title" content="cygrind.xyz | home">
    <meta property="og:description" content="ULTRAKILL mod and cygrind patten list">
    <meta property="og:url" content="https://cygrind.xyz/">
    <meta property="og:type" content="website">
    <meta name=”theme-color” content=”#eb4034”>

    <title>cygrind.xyz</title>
</head>
<body class="page-wrapper with-sidebar with-navbar">
    <%- include("base.ejs") -%>

    <div class="content-wrapper">
        <div class="content">
            <h1 style="font-size: 50px;" class="content-title">
                The cybergrind pattern list
            </h1>
        </div>
    
        <hr>
    
        <div class="content mw-full">
            <details class="content collapse-panel">
                <summary class="collapse-header" style="font-size: xx-large;">
                    Featured patterns
                </summary>
                <div class="collapse-content">
                    DISPLAY CGP VIS HERE
                </div>
            </details>
        
            <details class="content collapse-panel">
                <summary class="collapse-header" style="font-size: xx-large;">
                    Most downloaded
                </summary>
                <div class="collapse-content">
                    DISPLAY CGP VIS HERE
                </div>
            </details>
        
        
            <details class="content collapse-panel">
                <summary class="collapse-header" style="font-size: xx-large;">
                    Recent uploads
                </summary>
                <div class="collapse-content">
                    <div class="w-400 mw-full"> 
                        <div class="container card p-0"> 
                          <img src="https://f4.bcbits.com/img/a0084845941_10.jpg" class="img-fluid rounded-top" alt="Image of pattern here" style="max-width: 512; max-height: 512;"> 
                          
                          <div class="content">
                                <h2 class="content-title">
                                    Name of pattern here
                                </h2>
                                <p class="text-muted">
                                    Description goes here
                                </p>
                                <div class="text-right"> 
                                    <a href="#" class="btn">Download</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </details>
        </div>    
    </div>
</body>
</html>