<%- include("modals.ejs") %>

<div class="navbar">
    <div id="menu-dropdown" class="dropdown with-arrow">
        <button class="btn btn-block m-5" data-toggle="dropdown" type="button" id="dropdown-toggle-btn-1"
            aria-haspopup="true" aria-expanded="false">
            Menu<i class="fa fa-angle-down" aria-hidden="true"></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdown-toggle-btn-1">
            <h6 class="dropdown-header">Links</h6>
            <div class="dropdown-divider"></div>
            <div class="dropdown-content">
                <button class="btn btn-secondary btn-block" type="button" onclick="halfmoon.toggleDarkMode()">
                    Toggle darkmode
                </button>

                <button class="btn btn-block" style="background-color: #11d9d9;" type="button"
                    onclick="halfmoon.toggleSidebar()">
                    Toggle sidebar
                </button>

                <button class="btn btn-primary btn-block" type="button">
                    Join the ultrakill discord server
                </button>
            </div>
        </div>
    </div>

    <div style="display: flex;">
        <a href="#" class="sidebar-brand">
            <img src="/cygrind_logo_v2_128x128.png" class="img-fluid rounded" alt="h">
            cygrind.xyz
        </a>
    </div>

    <button id="home-button" class="btn buttons m-10" onclick="window.location.href = '/'" type="button">
        Go home
    </button>

    <div class="btn-group">
        <button class="btn buttons" type="button" onclick="toggleDarkMode()" aria-label="toggle darkmode">
            <i id="darkmode-toggle" class="fa fa-sun"></i>
        </button>

        <button class="btn buttons" type="button" onclick="halfmoon.toggleSidebar()">
            <i class="fa fa-arrow-right-arrow-left"></i>
        </button>
    </div>

    <div id="menu-dropdown-login" class="dropdown with-arrow m-10">
        <button class="btn btn-secondary" data-toggle="dropdown" type="button" id="dropdown-toggle-btn-login"
            aria-haspopup="true" aria-expanded="false">
            Login <i class="fa fa-angle-down" aria-hidden="true"></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdown-toggle-btn-login">
            <div class="dropdown-header">
                Login options
            </div>
            <div class="dropdown-divider"></div>
            <div class="dropdown-content">
                <div class="btn-group">
                    <a href="#modal-login" class="btn btn-block" role="button">Sign in</a>
                    <a href="#modal-signup" class="btn btn-block" role="button">Sign up</a>
                </div>
            </div>
        </div>
    </div>

    <div id="menu-dropdown-user" class="dropdown with-arrow m-10" style="display: hide;">
        <button class="btn btn-secondary" data-toggle="dropdown" type="button" id="dropdown-toggle-btn-user"
            aria-haspopup="true" aria-expanded="false">
            <script>document.write(sessionStorage.getItem("displayname"))</script> <i class="fa fa-angle-down" aria-hidden="true"></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdown-toggle-btn-user">
            <div class="dropdown-header">
                Login options
            </div>
            <!-- <hr> -->
            <div class="dropdown-content">
                <hr>
                <button class="btn btn-block" onclick="handleLogout()">Logout</button>
            </div>
        </div>
    </div>

    <div id="ko-fi-button" style="margin-left: auto;">
        <script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script>
        <script
            type='text/javascript'>kofiwidget2.init('Support Me on Ko-fi', '#29abe0', 'L4L8BIHW8'); kofiwidget2.draw();</script>
    </div>

    <script>
        if (sessionStorage.getItem("userId")) {
            document.querySelector("#menu-dropdown-login").style.display = "none";
            document.querySelector("#menu-dropdown-user").style.display = "unset";
        } else {
            document.querySelector("#menu-dropdown-login").style.display = "unset";
            document.querySelector("#menu-dropdown-user").style.display = "none";
        }

        if (window.location.pathname === "/") {
            document.querySelector("#home-button").style.display = "none"
        } else {
            document.querySelector("#home-button").style.display = "unset"
        }
    </script>
</div>