#mid-btn {
    margin-top: 5px;
    margin-bottom: 5px;
}

body {
    font-family: 'Ubuntu Mono', monospace;
}

@media only screen and (min-width: 600px) { 
    #menu-dropdown { 
        display: none; 
    }
}

@media only screen and (max-width: 600px) {
    .buttons {
        display: none;
    }
}
